.button {
  .text {
    font-size: 16px;
    margin-right: 4px;
  }

  @media (width < 450px) {
    .gallery {
      display: none;
    }

    .text {
      font-size: 11px;
      margin-right: 3px;
    }

    .icon {
      width: 14px;
      height: 14px;
    }
  }
}
