// Breakpoints
$breakpoint-mobile: 335px; // 335px ~ 767px    540?
$breakpoint-tablet: 758px; // 758px ~ 1023px
$breakpoint-desktop: 1024px; // < 1024px

// Variables
$red: #fa5252;

$title-main-size: 160px;
$title-sub-size: 50px;

// 16, 18 20, 22, 14
