// Breakpoints
$breakpoint-mobile: 335px; // 335px ~ 767px    540?
$breakpoint-tablet: 768px; // 768px ~ 1023px
$breakpoint-desktop: 1024px; // < 1024px

// Variables
$background-color: #000000;
$header-color: #000000;

// background - header
// v1 statroki : #1f2937 #111827
// v2 discord :  #303338 #1e1f22
// v3 all black : #000000
// v4 reference : #212529 #222222  /  톡 튀는색
// button #373151
$red: #fa5252;

$title-main-size: 120px;
$title-sub-size: 40px;
$font-size: 16px;

// 16, 18 20, 22, 14
