.results {
  text-align: center;
  font-size: 16px;
}
.win {
  color: goldenrod;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  font-variant: small-caps;
}
.lose {
  color: red;
  font-weight: bold;
  font-variant: small-caps;
  letter-spacing: 2px;
  font-size: 20px;
}

.doorsContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 3.5rem;
}

.doors {
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-right: 1rem;
  margin-left: 1rem;
}

.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 250px;
  height: 100%;
}

.loadingText {
  padding-top: 2rem;
}

@media screen and (max-width: 1098px) {
  .doors {
    gap: 60px;
  }

  .loading {
    min-height: 550px;
  }
}

@media (max-width: 500px) {
  .doors {
    gap: 75px;
  }
}

@media (max-width: 475px) {
  .doors {
    gap: 47px;
  }
}
