.home_body {
  .counter.light {
    border: 2px solid #333;
  }

  .title {
    .content {
      text-decoration: none;
      // color: #fff;
    }

    .title-main {
      display: flex;
      text-align: center;
      font-size: $title-main-size/ 1.2;

      @include tablet {
        font-size: $title-main-size / 1.4; // 1.33333;
      }
      @include mobile {
        font-size: $title-main-size / 1.7;
      }
      @include small {
        font-size: $title-main-size / 2;
      }

      .highlight {
        color: #ef5a9a;
      }
    }
  }

  .sub-title {
    display: flex;
    align-items: center;
    gap: 10px;

    .bg-crop {
      position: relative;
      width: $title-img-width; // 자를 사이즈를 명시해준다.
      height: $title-img-height;
      overflow: hidden;
      // border: 1px solid #695030;
      border-radius: 20px;
      box-shadow: 0 2px 4px rgba(105, 80, 48, 0.2);

      .bg-wakdoo {
        position: absolute; // 포지션을 주고,
        // top: 100; // 보이기 원하는 위치를 지정
        // left: 0;
        max-height: initial;
        margin-top: -35%;
        width: 480px; // 오리지널 사이즈
        // height: 703px;
      }

      @include tablet {
        width: $title-img-width / 1.2;
        height: $title-img-height / 1.2;
      }
      @include mobile {
        width: $title-img-width / 1.8; //1.5;
        height: $title-img-height / 1.8;
      }
      @include small {
        width: $title-img-width / 2;
        height: $title-img-height / 2;
      }
    }
  }
  .title-text {
    font-size: $title-sub-size / 1.2;
    font-weight: 700;
    @include tablet {
      font-size: $title-sub-size / 1.4;
    }
    @include mobile {
      font-size: $title-sub-size / 1.7; //1.5;
    }
    @include small {
      font-size: $title-sub-size / 2;
    }
  }

  .uploader {
    @include tablet {
      width: 60%;
      min-width: 500px;
    }
    @include mobile {
      width: 80%;
      max-width: 360px;
    }
    @include small {
      width: 90%;
      max-width: 300px;
    }

    .dropzone {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      div {
        margin: 20px 0;
      }
    }

    .logo {
      font-size: 80px;
      margin-top: 40px;
      margin-bottom: 10px;
      color: #6d6d6d;
    }
    div {
      padding: 0 20px;
    }
    .underline {
      color: #ef5a9a;
      text-decoration: underline;
    }
  }

  .uploader.dark {
    &:hover {
      border-color: #e0e0e0;
      .dropzone {
        .logo {
          color: #e0e0e0;
        }
      }
    }
    &:active {
      border-color: #ef5a9a;
      .dropzone {
        .logo {
          color: #ef5a9a;
        }
      }
    }
  }
  .uploader.light {
    &:hover {
      border-color: #000000;
      .dropzone {
        .logo {
          color: #000000;
        }
      }
    }
    &:active {
      border-color: #01bda1;
      .dropzone {
        .logo {
          color: #01bda1;
        }
      }
    }
  }

  .uploader.active.light {
    border-color: #01bda1;
    .dropzone {
      .logo {
        color: #01bda1;
      }
    }
  }
  .uploader.active.dark {
    border-color: #ef5a9a;
    .dropzone {
      .logo {
        color: #ef5a9a;
      }
    }
  }
  .fileView {
    padding: 50px;
  }

  .result-area {
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;

    .loading {
      // display: flex;
      // flex-direction: row;
      // justify-content: center;
      // align-items: center;
    }
    .result {
      .notFound {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        width: 100%;
        margin: auto;
        margin-bottom: 20px;

        .notFoundText {
          margin-top: 20px;
          color: #ef5a9a;
          font-weight: 600;
        }
        .description {
          width: 60%;
          // text-align: center;
          ul {
            margin-bottom: 10px;
            margin-left: auto;
            padding-left: 20px;
            li {
              // display: inline-block;
            }
          }
          @include mobile {
            width: 90%;
            max-width: 360px;
          }
        }
      }

      // .found {
      //   display: flex;
      //   flex-direction: column;
      //   justify-content: center;
      //   align-items: center;
      //   text-align: center;

      //   margin: 0 auto;
      //   margin-bottom: 20px;

      //   width: 100%;
      //   .link {
      //     word-break: break-all;
      //     width: 100%;
      //   }
      //   @include mobile {
      //     width: 90%;
      //   }
      // }
    }
  }
}
