.home_body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    padding-top: 30px;

    .counter {
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 20px;
        border-radius: 20px;
        border: 2px solid #ccc;
        margin-bottom: 10px;

        @include mobile {
            font-size: $font-size / 1.1;
            // font-size: $font-size / 1.33333;
        }
    }
    .counter.light {
        border: 2px solid #333;
    }

    .title {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .content {
            text-decoration: none;
            // color: #fff;
        }

        .title-main {
            display: flex;
            text-align: center;
            font-size: $title-main-size;

            @include tablet {
                font-size: $title-main-size / 1.2; // 1.33333;
            }
            @include mobile {
                font-size: $title-main-size / 1.5;
            }

            .highlight {
                color: #ef5a9a;
            }
        }
    }
    .title-sub {
        font-size: $title-sub-size;

        @include tablet {
            font-size: $title-sub-size / 1.2;
        }
        @include mobile {
            font-size: $title-sub-size / 1.5;
        }
    }

    .uploader {
        width: 50%;
        max-width: 550px;
        height: 250px;
        margin: 80px 0px 60px 0px;
        padding: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        border: 4px dashed #6d6d6d;
        border-radius: 20px;
        cursor: pointer;

        @include tablet {
            width: 60%;
            min-width: 500px;
        }
        @include mobile {
            width: 80%;
            max-width: 360px;
        }

        .dropzone {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            div {
                margin: 20px 0;
            }
        }

        .logo {
            font-size: 80px;
            margin-top: 40px;
            margin-bottom: 10px;
            color: #6d6d6d;
        }
        div {
            padding: 0 20px;
        }
        .underline {
            color: #ef5a9a;
            text-decoration: underline;
        }
    }

    .uploader.dark {
        &:hover {
            border-color: #e0e0e0;
            .dropzone {
                .logo {
                    color: #e0e0e0;
                }
            }
        }
        &:active {
            border-color: #ef5a9a;
            .dropzone {
                .logo {
                    color: #ef5a9a;
                }
            }
        }
    }
    .uploader.light {
        &:hover {
            border-color: #000000;
            .dropzone {
                .logo {
                    color: #000000;
                }
            }
        }
        &:active {
            border-color: #01bda1;
            .dropzone {
                .logo {
                    color: #01bda1;
                }
            }
        }
    }

    .uploader.active.light {
        border-color: #01bda1;
        .dropzone {
            .logo {
                color: #01bda1;
            }
        }
    }
    .uploader.active.dark {
        border-color: #ef5a9a;
        .dropzone {
            .logo {
                color: #ef5a9a;
            }
        }
    }
    .fileView {
        padding: 50px;
    }

    .preview {
        @include mobile {
            width: 90%;
            max-width: 360px;
        }
    }

    .result-area {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .loading {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
        .result {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            .notFound {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                width: 100%;
                margin: auto;
                margin-bottom: 20px;

                .notFoundText {
                    margin-top: 20px;
                    color: #ef5a9a;
                    font-weight: 600;
                }
                .description {
                    width: 60%;
                    // text-align: center;
                    ul {
                        margin-bottom: 10px;
                        margin-left: auto;
                        padding-left: 20px;
                        li {
                            // display: inline-block;
                        }
                    }
                    @include mobile {
                        width: 90%;
                        max-width: 360px;
                    }
                }
            }

            .found {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;

                margin: 0 auto;
                margin-bottom: 20px;

                width: 100%;
                .link {
                    word-break: break-all;
                    width: 100%;
                }
                @include mobile {
                    width: 90%;
                }
            }
        }
    }
}

.update-info {
    width: 60%;
    max-width: 550px; //
    @include mobile {
        width: 90%;
        max-width: 360px;
    }
}
