.cardContainer {
  display: inline-block; /* Ensure container only takes as much space as necessary */

  &:hover {
    .overlay {
      background: rgba(0, 0, 0, 0.3);
    }

    .hoverContainer {
      display: flex;
    }
  }

  .overlay {
    background: rgba(0, 0, 0, 0);
  }

  .hoverContainer {
    display: none;

    .footer {
      .btns {
        .textBox {
          span {
            display: contents;
          }
        }
      }
    }
  
    @media (width < 484px) {
      .body {
        .info {
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
        }
      }
  
      .footer {
        .btns {
          .textBox {
            svg {
              display: none;
            }
  
            span {
              display: none;
            }
          }
        }
      }
    }
  }
}


