.body {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    .title {
        .content {
            text-decoration: none;
        }
        .title-main {
            font-size: $title-main-size/2;

            .highlight {
                color: #ef5a9a;
            }
        }
    }

    .layout {
        margin: 0;
    }
}

.about-content {
    // text-align: center;
    margin: 0 auto;
    .page-title {
        margin-top: 50px;
        margin-bottom: 20px;
    }

    ul {
        list-style: none;
    }

    .developers {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        padding: 0;
    }
    @include mobile {
        width: 90%;
        max-width: 360px;
    }
}

.notice-content {
    // text-align: center;
}
