.body {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    .title {
        .content {
            text-decoration: none;
        }
        .title-main {
            font-size: $title-main-size/2;

            .highlight {
                color: #ef5a9a;
            }
        }
    }

    .layout {
        margin: 0;
    }
}

.about-content {
    // text-align: center;
    margin: 0 auto;
    .page-title {
        margin-top: 50px;
        margin-bottom: 20px;
    }

    ul {
        list-style: none;
    }

    .developers {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        padding: 0;
    }
    @include mobile {
        width: 90%;
        max-width: 360px;
    }
}

.notice-content {
    margin: 0 auto;

    .toLink {
        background-color: #ef5a9a;
        // display: flex;
        // flex-wrap: wrap;
        // gap: 20px;
        // justify-content: center;
        // align-items: center;
        // margin: 0 auto;
        // padding: 0;
    }
    @include mobile {
        width: 100%;
        max-width: 360px;
    }
}

.layout {
    width: 60%;
    .toLink {
        display: flex;
        // grid-template-columns: repeat(2, 1fr);
        grid-auto-flow: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;
    }
    .area {
        max-width: 240px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    @include mobile {
        width: 90%;
        max-width: 360px;
    }
}
