.container {
  position: absolute;
  top: -4px;
  left: 8px;

  @media (width > 1460px) {
    top: -11px;
    left: 12px;
    width: 48px;
    height: 80px;
  }

  .badge {
    width: 40px;
    height: 40px;

    @media (width > 1100px) {
      width: 48px;
      height: 60px;
    }

    @media (width > 1460px) {
      width: 48px;
      height: 70px;
    }
  }

  .text {
    font-size: 16px;

    @media (width > 1100px) {
      font-size: 24px;
    }

    @media (width > 1460px) {
      font-size: 30px;
    }
  }
}
