.swiper-button-next,
.swiper-button-prev {
  // background-color: #007aff; // 배경색 변경
  // color: white; // 텍스트 색상 변경
  // // border-radius: 50%; // 둥근 모양
  // width: 40px; // 너비
  // height: 40px; // 높이
  // 기타 스타일 속성
}

.swiper-pagination {
  bottom: 10px; // 위치 조정
  .swiper-pagination-bullet {
    width: 0.75rem;
    height: 0.75rem;
    background-color: #828282;
    opacity: 1;
    &-active {
      background-color: #007aff;
    }
  }
}
